
// Body
$body-bg: #f5f8fa;

// Typography
// $font-family-sans-serif: "Raleway", sans-serif;
$font-body: 'Arvo', serif;
$font-title: 'Righteous', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


//color

$white:#f3f3f3;
$popflu:#145EAD;